@media (pointer:none), (pointer:coarse) {
    .animation-area {
        background: linear-gradient(to left, #2251d4, #0f8aa8);
        width: 200%;
        height: 1440px;
    }

    .box-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 1540px;
        overflow: hidden;
    }

    .banner-text {
        width: 200%;
        position: absolute;
        z-index: 1;
    }

    .container {
        grid-template-columns: repeat(auto-fill, 400px);
        grid-gap: 1rem;
        margin: 1rem;
    }
}