@import url('themes.css');

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-between;
  grid-gap: 3rem;
  margin: 1rem 2rem 2rem 2rem;
  padding: 200px;
}

.container>span {
  line-height: 40px;
  width: 200px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  padding: 0 10px;
  font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
}
.banner-text {
	width: 100%;
	position: relative;
	z-index: 1;
}
.banner-text ul {
	height: 50px;
	float: right;
}
.banner-text ul li {
	display: inline-block;
	padding: 40px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
}
input[type="file"] {
  display: none;
}

.banner-text h2 {
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 20%;
}

.animation-area {
	background: linear-gradient(to left, #111111, #1e1e20);
	width: 100%;
	height: 100vh;
  position: fixed;
  display:flex;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: #d3cdcd33;
	animation: animate 5s linear infinite;
	bottom: -150px;
}

.button {
  background-color : #f708ff;
  color: white;
  padding: 20px 20px;
  border-radius: 4px;
  border-color: #f708ff;
  cursor: pointer;
}

.buttonROM {
  background-color : #7700ff;
  color: white;
  padding: 5px 20px;
  position: relative;
  border-radius: 4px;
  border-color: #f708ff;
  font-size: 20px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: outside;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .buttonROM {background-color: #f708ff;}

.ColorPicker1 {
  background-color : #7700ff;
  color: white;
  padding: 50px 50px;
  border-radius: 4px;
  border-color: #f708ff;
  font-size: 20px;
  cursor: pointer;
  position: fixed;
  top: 40%;
  left: 10px;
}


#mybutton {
  position: fixed;
  top: 4px;
  right: 10px;
}

.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0.8s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 5s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 1s;
	animation-duration: 7s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
.box-area li:nth-child(7) {
	left: 30%;
	width: 150px;
	height: 150px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(6) {
	left: 90%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
.box-area li:nth-child(6) {
	left: 2%;
	width: 110px;
	height: 110px;
	animation-delay: 1.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

body {
  background-color: #111111;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


h1 {
  color: white;
  text-align: center;
  font-size: 100px;   
}
h2 {
  color: white;
  text-align: center;
  font-size: 70px;
}

p {
  font-family: 'Baloo 2';
  color: white;
  text-align: center;
  font-size: 70px;
}

.patch {
  padding-top: 10%;
  font-family: 'Baloo 2';
  color: rgb(255, 0, 0);
  text-align: center;
  font-size: 60px;
}


.geeks {
  padding: 0.05px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;             
        }
.content {padding:20px;}


.logo {
  height: 150px;
  border-radius: 15px;
  position: absolute;
  left: 5px;
  user-select: none;
  padding:20px;
  cursor: pointer;
  z-index: 1;
}

.chatlogo {
  height: 150px;
  border-radius: 15px;
  position: absolute;
  left: 1725px;
  user-select: none;
  padding:20px;
  cursor: pointer;
}

.bar {
  position:static
}

.topbar {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  gap: 10px;
  background: var(--background);
  position: absolute;
}


@keyframes hoverdown {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes hoverstop {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.game {
  height: 200px;
  width: 200px;
  text-decoration: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  animation: hoverstop 0.5s;
}


.game:hover {
	animation: hoverdown 0.5s;
	animation-fill-mode: forwards;
	cursor: pointer;
}


@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.logo:hover {
  animation: shake 3s;
  animation-iteration-count: infinite;
}

.chatlogo:hover {
  animation: shake 3s;
  animation-iteration-count: infinite;
}

.srcHid { 
  width: 100%;
  height: 100%;
  display:none;
}

.src { 
	padding-top: 65px;
}
.srcCenterGame { 
	padding-top: 65px;
  padding-left: 30%;
}
.srcCenterGame2 { 
	padding-top: 50px;
  padding-left: 5%;
}