div.s::before {
    content: "You awake";
}
div.empty::before {
    content: "";
}

button.s::before {
    content: "->";
}

button.b::before {
    content: "->";
}

div.b1::before {
    content: "You have woken up on the side of the road.";
}

div.s1::before {
    content: "You are on the side of the road.";
}

div.s2::before {
    content: "You are outside. What will you do?";
}

div.s3::before {
    content: "You are at the town. What will you do now?";
}

div.s4::before {
    content: "The pond shines.";
}

div.s5::before {
    content: "";
}

div.s6::before {
    content: "You reeled in the fish!";
}

div.f1::before {
    content: "You caught the fish 😁";
}
div.f2::before {
    content: "You lost the fish 😢";
}


div.Begging::before {
    content: "You are begging";
}
div.StoppedBegging::before {
    content: "You stopped begging";
}

/* District Location Names */
div.District1Loc::before {
    content: "You are at District 1";
}
div.District2Loc::before {
    content: "You are at District 2";
}
div.District3Loc::before {
    content: "You are at District 3";
}
div.District4Loc::before {
    content: "You are at District 4";
}
/* District 1*/
div.StartMerchant::before {
    content: "You are at the Merchant.";
}
div.SellMerchant::before {
    content: "What would you like to sell?";
}
div.BuyMerchant::before {
    content: "What would you like to buy?";
}

div.StartBank::before {
    content: "You have 0 money in the bank.";
}



div.enemy::before {
    content: "Nothing.";
}
div.enemy-lvl::after {
    content: "0";
}
div.enemy-hp::after {
    content: "1/1";
}

div.SkillsTab::before {
    content: "Skills Tab";
}
div.AssemblyTab::before {
    content: "Assembly Tab";
}
div.ActionsTab::before {
    content: "Actions Tab";
}








