div.s::before {
    content: "You awake";
}

button.s::before {
    content: "->";
}

div.s1::before {
    content: "You are at home. What will you do?";
}

div.s2::before {
    content: "You are at outside. What will you do?";
}

div.s3::before {
    content: "You are at the town. What will you do now?";
}

div.s4::before {
    content: "The pond shines.";
}

div.s5::before {
    content: "";
}

div.s6::before {
    content: "You reeled in the fish!";
}

div.f1::before {
    content: "You caught the fish 😁";
}
div.f2::before {
    content: "You lost the fish 😢";
}




div.enemy::before {
    content: "Nothing.";
}
div.enemy-lvl::after {
    content: "0";
}
div.enemy-hp::after {
    content: "1/1";
}







