#player {
    display: block;
    position: absolute;
    background-color: rgba(17, 48, 48, 0.6);
    top: 15px;
    width: 320px;
    height: 350px;
    border: solid 3px black;
    position: absolute;    
    left: 125px;
}

#player-tb {
    display: block;
    position: absolute;    
    background: rgba(19,75,75,1);
    width: 100%;
    height: 70px;
    border-bottom: dashed black;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 40px;
}
#player-tb-main {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 7px;
    left: 10px;
    width: 80px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 26px;
    border: solid 2px black;
}
#player-tb-health {
    display: block;
    position: absolute;    
    background: rgb(40, 151, 25);
    top: 13px;
    left: 100px;
    width: 210px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 20px;
    border: solid 2px black;
}
#player-tb-hunger {
    display: block;
    position: absolute;    
    background: rgb(128, 66, 15);
    top: 40px;
    left: 100px;
    width: 210px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 20px;
    border: solid 2px black;
}
#player-str {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 7px;
    left: 10px;
    min-width: 170px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 26px;
    border: solid 2px black;
}
#player-def {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 44px;
    left: 10px;
    min-width: 170px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 26px;
    border: solid 2px black;
}
#player-agl {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 81px;
    left: 10px;
    min-width: 170px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 26px;
    border: solid 2px black;
}
#player-int {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 118px;
    left: 10px;
    min-width: 170px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 26px;
    border: solid 2px black;
}

#inventory {
    display: block;
    position: absolute;
    background-color: rgba(17, 48, 48, 0.6);
    top: 380px;
    width: 320px;
    height: 430px;
    border: solid 3px black;
    position: absolute;    
    left: 125px;
}
#inventory-tb{
    display: block;
    position: absolute;    
    background: rgba(19,75,75,1);
    width: 100%;
    height: 70px;
    border-bottom: dashed black;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 50px;
}
#inventory-section{
    display: block;
    position: absolute;    
    background: none;
    top: 74px;
    width: 100%;
    height: 82.8%;
}





#log {
    display: block;
    background-color: rgba(17, 48, 48, 0.6);
    width: 320px;
    height: 795px;
    border: solid 3px black;
    position: absolute;    
    top: 15px;
    left: 970px;
}
#log-tb{
    display: block;
    position: absolute;    
    background: rgba(19,75,75,1);
    width: 100%;
    height: 70px;
    border-bottom: dashed black;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 50px;
}
#log-section{
    display: block;
    position: absolute;    
    background: none;
    top: 72px;
    width: 100%;
    height: 91%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#log-section::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.logtext + .logtext{
    margin-top: 2px;
  }

#status {
    display: block;
    background-color: rgba(17, 48, 48, 0.6);
    width: 500px;
    height: 350px;
    border: solid 3px black;
    position: absolute;    
    top: 15px;
    left: 457px;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}
#status.show {
    opacity: 1;
}
#status-tb {
    display: block;
    position: absolute;    
    background: rgba(19,75,75,1);
    width: 100%;
    height: 70px;
    border-bottom: dashed black;
}
#status-tb-main {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 7%;
    left: 15%;
    width: 40%;
    height: 50%;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 30px;
    border: solid 2px black;
}
#status-tb-main-lvl {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 7%;
    left: 56%;
    width: 29%;
    height: 50%;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 30px;
    border: solid 2px black;
}
#status-tb-health {
    display: block;
    position: absolute;    
    background: rgb(40, 151, 25);
    top: 63%;
    left: 15%;
    width: 70%;
    height: 30%;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 20px;
    border: solid 2px black;
}
#status-games {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 30%;
    left: 10%;
    width: 78%;
    height: 60%;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 30px;
    border: solid 2px black;
    border-radius: 10px;
}

#main {
    display: block;
    background-color: rgba(17, 48, 48, 0.6);
    width: 500px;
    height: 430px;
    border: solid 3px black;
    position: absolute;    
    top: 380px;
    left: 457px;
}
#main-tb {
    display: block;
    background: rgba(19,75,75,1);
    width: 100%;
    height: 70px;
    border-bottom: dashed black;
}
#main-mb {
    display: block;
    background: rgba(7, 29, 29, 0.6);
    width: 100%;
    height: 70px;
    border-bottom: black;
    text-align: center;
    align-content: center;
    color: green;
    font-size: 25px;
}
#main-res {
    position: absolute;
    display: block;
    left: -2px;
    width: 100%;
    border-bottom: black;
    text-align: center;
    align-content: center;
    color: green;
    font-size: 25px;
    border: solid 2px black;
    
}
#main-res button {
    display: block;
    width: 100%;
    background: none;
    height: 50px;
    border: solid 2px black;
    color: green;
    font-size: 25px;
    border: solid 2px black;
    
}


#saveb {
    position: fixed;
    bottom: 0px;
    right: 0px;
}



#miniGameContainer {
    position: relative;
    width: 100%;
    height: 60px;  /* Adjust as needed for your game */
    background-color: #f0f0f0;
}

#progressBarContainer {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    position: relative;
}

#progressBar {
    height: 100%;
    background-color: #4caf50; /* Green color for the progress */
    width: 50%;
}

#fishBar {
    position: absolute;
    top: 0;
    left: 0; /* Initially on the left side */
    height: 100%;
    width: 10px;
    background-color: black;
}

/* Move button */
#moveButton {
    display: block;
    margin: 10px auto;
}

/* Game status message */
#gameStatus {
    text-align: center;
}








@media (pointer:none), (pointer:coarse) {
    #main {
        display: block;
        background-color: rgba(17, 48, 48, 0.6);
        width: 450px;
        height: 430px;
        border: solid 3px black;
        position: absolute;    
        top: 375px;
        left: 260px;
    }
    #status {
        display: block;
        background-color: rgba(17, 48, 48, 0.6);
        width: 500px;
        height: 350px;
        border: solid 3px black;
        position: absolute;    
        top: 15px;
        left: 260px;
        opacity: 0;
        transition: opacity 0.8s ease-in-out;
    }
    body {
        -webkit-user-select: none; /* Prevent text selection on Webkit browsers (Safari, Chrome) */
        -moz-user-select: none; /* For Firefox */
        -ms-user-select: none; /* For IE and Edge */
        user-select: none; /* Standard syntax */
    }
}
