#player {
    display: block;
    position: absolute;
    background-color: rgba(17, 48, 48, 0.6);
    top: 15px;
    width: 320px;
    height: 350px;
    border: solid 3px black;
    position: absolute;    
    left: 125px;
}
body {
    user-select: none;
}

#player-tb {
    display: block;
    position: absolute;    
    background: rgba(19,75,75,1);
    width: 100%;
    height: 70px;
    border-bottom: dashed black;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 40px;
}
#player-tb-main {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 4px;
    left: 10px;
    width: 80px;
    height: 25px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 23px;
    border: solid 2px black;
}
#player-tb-cash {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 39px;
    left: 10px;
    width: 80px;
    height: 25px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 23px;
    border: solid 2px black;
}
#player-tb-healthBar {
    display: block;
    position: absolute;    
    background: #887f7f;
    top: 7px;
    left: 100px;
    width: 210px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 20px;
    border: solid 2px black;
}
#player-tb-health {
    background: green;
    width: 100%;
    height: 98%;
    border-radius: 7px;
    font-size: 20px;
}
#health-overlay-player {
    background-color: none;
    position: absolute;
    z-index:100;
    text-align: center;
    align-content: center;
    color: black;
    border-radius: 7px;
    width: 100%;
}
#player-tb-hungerBar {
    display: block;
    position: absolute;    
    background: #887f7f;
    top: 42px;
    left: 100px;
    width: 210px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 20px;
    border: solid 2px black;
}
#hunger-overlay-player {
    background-color: none;
    position: absolute;
    z-index:100;
    text-align: center;
    align-content: center;
    color: black;
    border-radius: 7px;
    width: 100%;
}
#player-tb-hunger {
    background: rgb(112, 50, 21);
    width: 100%;
    height: 98%;
    border-radius: 7px;
    font-size: 20px;
}
#player-str {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 7px;
    left: 10px;
    min-width: 170px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 26px;
    border: solid 2px black;
}
#player-def {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 44px;
    left: 10px;
    min-width: 170px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 26px;
    border: solid 2px black;
}
#player-agl {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 81px;
    left: 10px;
    min-width: 170px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 26px;
    border: solid 2px black;
}
#player-int {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 118px;
    left: 10px;
    min-width: 170px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 26px;
    border: solid 2px black;
}

#inventory {
    display: block;
    position: absolute;
    background-color: rgba(17, 48, 48, 0.6);
    top: 380px;
    width: 320px;
    height: 430px;
    border: solid 3px black;
    position: absolute;    
    left: 125px;
}
#inventory-tb{
    display: block;
    position: absolute;    
    background: rgba(19,75,75,1);
    width: 100%;
    height: 70px;
    border-bottom: dashed black;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 50px;
}
#inventory-tb-name{
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 3px;
    left: 80px;
    min-width: 154px;
    height: 25px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 23px;
    border: solid 2px black;
}
#inventory-tb-EquippedItem{
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 35px;
    left: 80px;
    min-width: 154px;
    height: 25px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 23px;
    border: solid 2px black;
}

#inventory-section{
    display: block;
    position: absolute;    
    background: none;
    top: 74px;
    width: 100%;
    height: 82.8%;
}


#log {
    display: block;
    background-color: rgba(17, 48, 48, 0.6);
    width: 320px;
    height: 795px;
    border: solid 3px black;
    position: absolute;    
    top: 15px;
    left: 970px;
}
#log-tb{
    display: block;
    position: absolute;    
    background: rgba(19,75,75,1);
    width: 100%;
    height: 70px;
    border-bottom: dashed black;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 50px;
}
#log-section{
    display: block;
    position: absolute;    
    background: none;
    top: 72px;
    width: 100%;
    height: 91%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#log-section::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.logtext + .logtext{
    margin-top: 2px;
  }

#status {
    display: block;
    background-color: rgba(17, 48, 48, 0.6);
    width: 500px;
    height: 350px;
    border: solid 3px black;
    position: absolute;    
    top: 15px;
    left: 457px;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}
#status.show {
    opacity: 1;
}
#status-tb {
    display: block;
    position: absolute;    
    background: rgba(19,75,75,1);
    width: 100%;
    height: 70px;
    border-bottom: dashed black;
}
#status-tb-main {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 7%;
    left: 15%;
    width: 40%;
    height: 50%;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 30px;
    border: solid 2px black;
}
#status-tb-main-lvl {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 7%;
    left: 56%;
    width: 29%;
    height: 50%;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 30px;
    border: solid 2px black;
}
#status-tb-health {
    display: block;
    position: absolute;    
    background: rgb(40, 151, 25);
    top: 63%;
    left: 15%;
    width: 70%;
    height: 30%;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 20px;
    border: solid 2px black;
}
#status-games {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 30%;
    left: 10%;
    width: 78%;
    height: 60%;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 30px;
    border: solid 2px black;
    border-radius: 10px;
}

#main {
    display: block;
    background-color: rgba(17, 48, 48, 0.6);
    width: 500px;
    height: 430px;
    border: solid 3px black;
    position: absolute;    
    top: 380px;
    left: 457px;
}
#main-tb {
    display: block;
    background: rgba(19,75,75,1);
    width: 100%;
    height: 70px;
    border-bottom: dashed black;
}
#main-tb-time {
    display: block;
    position: absolute;    
    background: rgb(26, 117, 117);
    top: 7px;
    right: 10px;
    min-width: 150px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 20px;
    border: solid 2px black;
}

#main-mb {
    display: block;
    background: rgba(7, 29, 29, 0.6);
    width: 100%;
    height: 70px;
    border-bottom: black;
    text-align: center;
    align-content: center;
    color: green;
    font-size: 25px;
}
#main-res {
    position: absolute;
    display: block;
    left: -2px;
    width: 100%;
    height: 250px;
    border-bottom: black;
    text-align: center;
    color: green;
    font-size: 25px;
    border: solid 2px black;
    overflow-y: scroll; 
}
#ActionsTab {
    position: absolute;
    display: block;
    left: -2px;
    width: 100%;
    height: 250px;
    border-bottom: black;
    text-align: center;
    color: green;
    font-size: 25px;
    border: solid 2px black;
    overflow-y: scroll; 
}

#main-res::-webkit-scrollbar { 
     display: none;
}
#ActionsTab::-webkit-scrollbar { 
    display: none;
}
#main-res button {
    display: block;
    width: 100%;
    background: none;
    height: 50px;
    border: solid 2px black;
    color: green;
    font-size: 25px;
    border: solid 2px black;
    overflow-y: hidden;
}
#ActionsTab button {
    display: block;
    width: 100%;
    background: none;
    height: 50px;
    border: solid 2px black;
    color: green;
    font-size: 25px;
    border: solid 2px black;
    overflow-y: hidden;
}

#SkillsTab div {
    display: flex;
    position: static;
    align-items: center; 
    align-content: center; 
    width: 100%;
    height: 52px;
    box-sizing: border-box; 
    border: solid 2px black; 
    color: green;
    font-size: 25px;
}
#skill-bar {
    display: block;
    position: relative; 
    background: #887f7f;
    left: 30px;
    width: 300px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    color: black;
    font-size: 20px;
    border: solid 2px black;
    z-index: -2;
}

#skill-barOverlay {
    position: absolute; 
    top: 0;
    left: 0;
    background: #15ff00;
    width: 100%; 
    height: 100%; 
    border-radius: 6px; 
    color: white; 
    font-size: 18px; 
    z-index: -1; 
}

#AssemblyTab {
    position: absolute;
    display: block;
    left: -2px;
    width: 100%;
    height: 250px;
    border-bottom: black;
    text-align: center;
    color: green;
    font-size: 25px;
    border: solid 2px black;
    overflow-y: scroll; 
}
#AssemblyTab button {
    display: block;
    width: 100%;
    background: none;
    height: 50px;
    border: solid 2px black;
    color: green;
    font-size: 25px;
    border: solid 2px black;
    overflow-y: hidden;
}
#AssemblyTab::-webkit-scrollbar { 
    display: none;
}

#main-bt {
    display: flex;
    position: absolute;
    background: rgba(19,75,75,1);
    width: 100%;
    height: 32px;
    top: 395px;
    border-top: solid black;
}
#main-bt-actions {
    position: static;
    background: rgba(19,75,75,1);
    width: 33.3%;
    top: -5px;
    height: 100%;
    border: solid 1px black;
    text-align: center;
    color: black;
    font-size: 30px;
}

#saveb {
    position: fixed;
    bottom: 0px;
    right: 0px;
}



#miniGameContainer {
    position: relative;
    width: 100%;
    height: 60px;  /* Adjust as needed for your game */
    background-color: #f0f0f0;
}

#progressBarContainer {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    position: relative;
}

#progressBar {
    height: 100%;
    background-color: #4caf50; /* Green color for the progress */
    width: 50%;
}

#fishBar {
    position: absolute;
    top: 0;
    left: 0; /* Initially on the left side */
    height: 100%;
    width: 10px;
    background-color: black;
}

/* Move button */
#moveButton {
    display: block;
    margin: 10px auto;
}

/* Game status message */
#gameStatus {
    text-align: center;
}


  
#bucket {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 60px;
    height: 50px;
    background-color: none;
    transform: translateX(-50%);
  }
  
  .CatcherItem {
    position: absolute;
    top: -30px;
    width: 10px;
    height: 10px;
    background-color: none;
    border-radius: 50%;
  }
  

.garbage {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: grab;
}
#redBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: none;
    background-image: url('images/dumpster.png');
    background-size: cover; /* Makes the image cover the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
}

#depositBankMenu {
    width: 70%;
    background: green;
    opacity: 100%;
    height: 50px;
    border: solid 2px black;
    color: black;
    font-size: 25px;
    border: solid 3px black;
    overflow-y: hidden;
    text-align: center;
    align-content: center;
}
#confirmBank {
    width: 40%;
    position: relative;
    top: 20px;
    background: green;
    opacity: 100%;
    height: 50px;
    border: solid 2px black;
    color: black;
    font-size: 25px;
    border: solid 3px black;
    overflow-y: hidden;
    text-align: center;
    align-content: center;
}
#withdrawBankMenu {
    width: 70%;
    background: green;
    opacity: 100%;
    height: 50px;
    border: solid 2px black;
    color: black;
    font-size: 25px;
    border: solid 3px black;
    overflow-y: hidden;
    text-align: center;
    align-content: center;
}
#confirmBankWithdraw {
    width: 40%;
    position: relative;
    top: 20px;
    background: green;
    opacity: 100%;
    height: 50px;
    border: solid 2px black;
    color: black;
    font-size: 25px;
    border: solid 3px black;
    overflow-y: hidden;
    text-align: center;
    align-content: center;
}


