.feedback {
    background-color : #31B0D5;
    color: white;
    padding: 20px 20px;
    border-radius: 4px;
    border-color: #46b8da;
  }
  
  #mybutton {
    position: fixed;
    bottom: 50px;
    left: 10px;
  }

  .fake-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    pointer-events: none; /* Ensures the cursor doesn't interfere with clicks */
    z-index: 9999; /* Puts the cursor on top of other content */
}