
* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	background-color: #000;
	color: #ddd;
	font-family: Arial, sans-serif;
}

iframe {
	position: absolute;
	left: 0;
	top: 0;
	border: none;
	width: 100%;
	height: 100%;
}
